<div class="p-4">
  <mat-tab-group animationDuration="0ms">
    <mat-tab label="Items">
      <div class="pt-4">
        <app-items-master />
      </div>
    </mat-tab>
    <mat-tab label="Suppliers">
      <div class="pt-4">
        <app-suppliers-master />
      </div>
    </mat-tab>
    <mat-tab label="Delivery Locations">
      <div class="pt-4">
        <app-delivery-locations-master />
      </div>
    </mat-tab>
    <mat-tab label="Bundle Recipes">
      <div class="pt-4">
        <app-bundle-recipes-master />
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
